<div class="container">
  <app-cockpit
    (createServer)=onAddedServer($event)
    (createBluePrint)=onAddedBlueprint($event)></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-element
        *ngFor="let serverElement of serverElements"
        [aliasElement]="serverElement"></app-element>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h1>Number Game</h1>
      <app-game-control
        (createdNumber)= "numberGenerated($event)"  
      ></app-game-control>
    </div>
  </div>

  <hr>
  <div class='row'>
    <div class="col-xs-12">
      <h5>Odd number</h5>
      <app-odd
        *ngFor="let oddNumber of oddNumbers"
        [oddNumber]="oddNumber">
      </app-odd>
      <h5>Even number</h5>
      <app-even
        *ngFor="let evenNumber of evenNumbers"
        [evenNumber]="evenNumber">
      </app-even>

    </div>
  </div>
</div>


